.forgot-container {
  max-width: 400px;
  margin: auto;
  padding: 2rem;
  background: #fff7ed;
  border-radius: 10px;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.forgot-container h2 {
  color: #ea580c;
}

.forgot-container input {
  width: 94%;
  padding: 0.75rem;
  margin-top: 1rem;
  border: 1px solid #f97316;
  border-radius: 6px;
  text-align: center;
  font-size: 1.2rem;
}

.forgot-container button {
  width: 100%;
  padding: 0.7rem;
  background-color: #ea580c;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}

.forgot-container button:hover {
  background-color: #c2410c;
}
